:root {
    --Blue-200: hsl(224, 100%, 95%);
    --Blue-400: hsl(220, 100%, 64%);
    --Blue-600: hsl(228, 100%, 60%);
    --Blue-700: hsl(228, 99%, 58%);
}

/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name                             */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--Blue-700);
}

/* start Navbar */
.nav {
    color: var(--Blue-200);
    background-color: var(--Blue-700);
    border-bottom: 1px solid var(--Blue-400);
}

.nav .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 40%;
}

.logo-txt {
    font-size: 14px;
    margin:20px 40px;
}

li::marker {
    font-size: 18px;
}

.icon {
    width: 40%;
}

.hamburger span {
    color: white;
    width: 26px;
    height: 3px;
    display: block;
    background-color: white;
    margin-bottom: 5px;
    margin-left: auto;
    margin: 0 10px 5px auto;
    text-align: left;
}

.hamburger:hover {
    cursor: pointer;
}

/* end Navbar */
/* start Content */

.container {
    display: grid;
    grid-template-columns:40% 60%;
    justify-content: space-between;
    height: calc(100vh - 61.5px - 60px);
}
.container .item{
    border: 1px solid var(--Blue-400);
}
.container .hero .item:nth-child(1){
    display:flex;
    flex-direction:column;
    /* align-items:center; */
    /* align-items:center; */
    justify-content:center;
    height:100%;
    /* border-left: none;
    border-right:none;
    border-top: none;
    border-bottom: none; */
    border:none;

}
.container .stats .item:nth-child(2),.container .stats .item:nth-child(1){
    border-top:none;
    border-bottom:none;
}
.container .stats .item:nth-child(3),.container .stats .item:nth-child(4){
    border-bottom:none;
}
.container .stats .item:nth-child(2),
.container .stats .item:nth-child(4)
{

    border-right:none;
    border-left:none;
}
.container .item h1{
    color:white;
    font-size: 38px;
    margin-left:20px;
    width:45%;
    margin-bottom: 20px;
}
.container .item .hero-txt{
    font-size: 14px;
    margin-left:20px;
    width:45%;
    color :var(--Blue-200);
}
.stats{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}
.stats .item .stat{
    display:flex;
    justify-content:space-between;
    margin: 15px 30px;
    align-items:center;
    color: white;
}
.stats .item .stat-txt{
    margin:150px 30px 10px 30px;
    color: white;
}
.stats .item .stat .number{
    font-size: 24px;
}
.stats .item .stat-txt p{
    color:var(--Blue-200);
    margin-top: 10px;
    margin-bottom: 10px;  
}
/* .item {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc;
} */
/* End Content */
/* Start Footer */
.footer {
    border-top: 1px solid var(--Blue-400);
    display: flex;
    justify-content: space-between;
    background-color: var(--Blue-700);
    color: var(--Blue-200);
    padding: 20px;
    text-align: center;
}

/* End Footer */
.item:hover{
    cursor:pointer;
    background-color: var(--Blue-600);
}